body {
    background-color: skyblue;
}

#line {
    position: absolute;
    height: 100%;
    width: 0.5%;
    background-color: gold;
    z-index: 2;
    margin-left: 50%;
    margin-right: 50%;
    border-style: solid;
    border-width: 1%;
    border-color: yellow;
}

#scoreboard {
    position: absolute;
    background: white;
    width: 14%;
    height: 20%;
    z-index: 3;
    margin-left: 43%;
    border-style: outset;
    border-color: red;
    border-width: 1%;
    text-align: center;
}

#sbt {
    color: red;
    font-weight: bold;
}

.sbw {
    color: white;
}

#Lscore {
    width: 40%;
    height: 40%;
    margin-left: 2%;
    border-style: solid;
    border-color: white;
    border-width: 0.5%;
    text-align: center;
    position: absolute;
    background: red;
}

#Rscore {
    width: 40%;
    height: 40%;
    margin-left: 55%;
    border-style: solid;
    border-color: white;
    border-width: 0.5%;
    text-align: center;
    position: absolute;
    background: red;
}

#extrapl {
    margin-left: 2%;
    position: absolute;
    width: 30%;
    height: 25%;
    background-color: gold;
    border-style: outset;
    border-color: deepskyblue;
    border-width: 1%;
    text-align: center;
}

#extrapr {
    margin-left: 65%;
    position: absolute;
    width: 30%;
    height: 25%;
    background-color: gold;
    border-style: outset;
    border-color: deepskyblue;
    border-width: 1%;
    text-align: center;
}

.ept {
    text-align: center;
    color: white;
    font-weight: bold;
}

#movingtow {
    z-index: 3;
    position: absolute;
    bottom: 0;
    left: 32%;
}

.stfigure {
    width: 100px;
    height: 100px;
}

#rope {
    width: 300px;
    height: 26px;
    margin-bottom: 37px;
}

.winner {
    z-index: 4;
    width: 100%;
    height: 100%;
    text-align: center;
    background: gold;
}

.center{
    position: absolute;
    margin-left: 45%;
    margin-top: 12%;
    z-index: 6;
    width: 10%;
    border: 5px solid red;
    background: orange;
}

.big {
    font-size: xx-large;
    color: red;
    font-weight: bold;
    padding: 10%;
}

.red {
    color: red;
}
.score {
    color: white;
    font-weight: bold;
    font-size: x-large;
}

#instructionText {
    color: red;
    margin-left: 10%;
    margin-right: 10%;
}

.big2 {
    font-size: xx-large;
    color: red;
    font-weight: bold;
    padding: 5%;
}

#startGame {
    background: red;
    color: white;
}
